<app-loading *ngIf="loading"></app-loading>

<div class="alert alert-danger animated fadeIn" *ngIf="error">
    <h3>Error</h3>
    <p>{{ errorServicio }}</p>
</div>

<app-tarjetas [items]="songsNewRelase"></app-tarjetas>