<div class="row animated fadeIn">
  <div class="col">
    <input #termino type="text" (keyup)="search(termino.value)" class="form-control" placeholder="Buscar Artista">
  </div>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artists"></app-tarjetas>